:root {
    --fundo-principal: #CBEEB8;
    --cabeçalho-quebras: #56684E;
    --imagens-galeria: #253021;
    --barra-pesquisa: #E9D0A4;
    --tijolo: #963F2E;
    --salmão: #DF735D;
    --dourado: #CC9B59; 
    --branco: #FFFFFF; 
    --vermelho-maça: #770000;


}
*{
    margin: 0; padding: 0;
}
h1{
    font-size: 9vh; margin-left: 4vh; align-items: center;
}
body {
    background-color: var(--fundo-principal);
}
.cabeçalho {
color: var(--fundo-principal); display: flex; height: 12vh;
    background-color: var(--cabeçalho-quebras);
    
}
.logoMaçazinha {
    display: flex; margin: 7px;height: 44px; width: 55px;
}

.input-fiel {
    background-color: var(--barra-pesquisa);
    margin: 12px;
    height: 37px;
    width: 430px;
    border-radius: 24px;
    border: var(--barra-pesquisa);
}
input::placeholder{
    font-size: 12px; margin-left: 100px;
}

.lupinha { 
    width: 28px;
    height: 28px;
    align-items: center;
    margin-top: 17px;
}