:root {
    --fundo-principal: #CBEEB8;
    --cabeçalho-quebras: #56684E;
    --imagens-galeria: #253021;
    --barra-pesquisa: #E9D0A4;
    --tijolo: #963F2E;
    --salmão: #DF735D;
    --dourado: #CC9B59; 
    --branco: #FFFFFF; 
    --vermelho-maça: #770000;


}
*{
    margin: 0; padding: 0;
}

body {
    background-color: var(--fundo-principal);
}
.cabeçalho {
color: var(--fundo-principal); display: flex; height: 12vh;
    background-color: var(--cabeçalho-quebras);
}
.logoMaçazinha {
    display: flex; size: 2vh;
}